@import url(https://fonts.googleapis.com/css?family=Sigmar+One|Fredoka+One|Fjalla+One);
/*elements*/
body {
 background-color: #D1F9DD;
 cursor:pointer;
 margin: 0;
 padding: 0;
}
div {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/*components*/
.container-main {
  padding: 0;
  max-width: 600px;
  margin: 0 auto;
  text-align:center;
}
.controls, .control_title, #reset{
  font-family: "Fjalla One", sans-serif;
  font-size: 1.8em;
}
.control_title, .break_title {
  width: 200px;
}

#title {
  font-family: "Sigmar One", sans-serif;
  font-size: 3em;
  color: #C42525;
}
#clock_session, #clock_start {
  font-family: "Fjalla One", sans-serif;
  font-size: 2em;
}
#clock_time {
  font-family: "Courier New", monospace;
  font-size: 2.5em;
}
#reset {
  margin-top: 40px;
  padding: 5px;
  background-color: #C42525;
  width: 200px;
  border-radius: 5px;
}
.controls {
  padding: 2%;
}

.inline{
  display:inline-block;
  padding: 5%;
}
.buttons{
  width: 25px;
  border-radius: 5px;
  color:white;
}
.sess {
  background-color: #C42525;
}
.brk{
  background-color: #C42525;
}

.num {
  width: 50px;
}

.clock{
	width: 300px;
	height: 300px;
}

#clock_session {
	padding-top: 20px;
}

#clock_face{
  border: 8px solid #66BA12;
  background-color: #66BA12;
  border-radius: 50%;
  overflow: hidden;
  z-index: -1;
}

#writing {
  position: absolute;
  top: inherit;
  left: inherit;
  width: inherit;
  height: inherit;
  z-index: 1;
  }
#clock_back{
	position: relative;
	z-index: 0;
	background-color: #C42525;
	margin-top: 300px;
	top: inherit;
  height: 300px;
}
